body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #d4fc79, #96e6a1, #a8edea, #fed6e3);
    padding: 20px;
}


.container {
    max-width: 100%;
    font-size: 18px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    display: block;
    margin: 15px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}